<!-- Blog Section end -->
<section id="blog" class="scroll-section root-sec grey lighten-5 padd-tb-120 blog-wrap">
  <div class="container">
    <div class="row">
      <div class="blog-inner">
        <div class="col-sm-12 card-box-wrap">
          <div class="row">
            <div class="clearfix section-head blog-text">
              <div class="col-sm-10">
                <h2 class="title">Blog</h2>
                <p class="regular-text">Yes, I have a blog. My recent posts.</p>
              </div>
            </div>

            <div class="clearfix card-element-wrapper" id="blog-posts">
              {% for post in site.posts limit:3 %}
              <article class="col-sm-6 col-md-4 single-card-box single-post">
                <div class="card wow fadeInUpSmall" data-wow-duration=".7s">
                  <div class="card-image">
                    <div class="card-img-wrap">
                      <div class="blog-post-thumb waves-effect waves-block waves-light">
                        <a href="{{ post.url | prepend: site.baseurl }}"><img class="activator" src="images/blog1.jpg" alt="">
                        </a>
                      </div>
                      <div class="post-body">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="post-title-link brand-text"><h2 class="post-title">{{ post.title }}</h2></a>
                        <p class="post-content">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix card-content">
                    <a href="#" class="left js-favorite" title="Love this"><span class="numb">{{ post.date | date: "%b %-d, %Y" }}</span></a>
                    <a href="{{ post.url | prepend: site.baseurl }}" class="brand-text right waves-effect">Read More</a>
                  </div>
                </div>
              </article> <!-- ./single blog post end -->
              {% endfor %}
            </div>
            <div class="clearfix left-align">
              <div class="col-sm-12">
                <a href="{{ 'blog' | prepend: site.baseurl }}" class="waves-effect waves-light btn-large load-more">See More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ./container -->
</section>
<!-- #blog Section end -->
