<!-- Contact Section end -->
<section id="contact" class="scroll-section root-sec brand-bg padd-tb-120 contact-wrap">
  <div class="container">
    <div class="row">
      <div class="contact-inner">
        <div class="col-sm-12 card-box-wrap">
          <div class="row">
            <div class="clearfix section-head contact-text">
              <div class="col-sm-12">
                <h2 class="title">Contact</h2>
                <p class="regular-text">101 Chestnut Street Berea KY 40404</p>
                <ul class="clearfix contact-info">
                  <li><a href="">+1 859 248 4851</a>
                  </li>
                  <li><a href="mailto:aisshwar@gmail.com" target="_top">aisshwar@gmail.com</a>
                  </li>
                  <li><a href="">www.ishwaragarwal.com</a>
                  </li>
                </ul>
              </div>
            </div> <!-- contact text end -->

            <div class="clearfix contact-form">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ./container end -->
  <div class="section-call-to-area">
    <div class="container">
      <div class="row">
        <a href="#home" class="btn-floating btn-large button-middle call-to-home section-call-to-btn animated btn-up btn-hidden" data-section="#home">
          <i class="material-icons">expand_less</i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- #contact Section end -->
