<!-- Contact Section end -->
<section id="contact" class="scroll-section root-sec brand-bg padd-tb-120 contact-wrap">
  <div class="container">
    <div class="row">
      <div class="contact-inner">
        <div class="col-sm-12 card-box-wrap">
          <div class="row">
            <div class="clearfix section-head contact-text">
              <div class="col-sm-12">
                <h2 class="title">Contact</h2>
                <p class="regular-text">Let's get in touch</p>
                <br>
                <div class="row clearfix">
                  <a href="mailto:a.isshwar@gmail.com" class="waves-effect btn btn-large white brand-text">Message Me
                      <i class="material-icons left">email</i>
                  </a>
                  <a target="_blank" href="https://agarwali.youcanbook.me/">
                    <button class="waves-effect btn btn-large white brand-text"> Book an appointment
                      <i class="fa fa-calendar-check-o left" aria-hidden="true"></i>
                    </button>
                  </a>
                </div>
              </div>
            </div> <!-- contact text end -->

            <div class="clearfix contact-form"></div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ./container end -->
  <div class="section-call-to-area">
    <div class="container">
      <div class="row">
        <a href="#home" class="btn-floating btn-large button-middle call-to-home section-call-to-btn animated btn-up btn-hidden" data-section="#home">
          <i class="material-icons">expand_less</i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- #contact Section end -->
