<!-- Favicon-->
<link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico" >

<!-- Stylesheets -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css" media="screen,projection" />

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.min.css" media="screen,projection" />
<link rel="stylesheet" href="{{site.baseurl}}/assets/libs/sweetalert/sweet-alert.css" media="screen,projection" />

<link rel="stylesheet" href="{{site.baseurl}}/assets/libs/owl-carousel/owl.carousel.css" media="screen,projection" />
<link rel="stylesheet" href="{{site.baseurl}}/assets/libs/owl-carousel/owl.transitions.css" media="screen,projection" />
<link rel="stylesheet" href="{{site.baseurl}}/assets/libs/owl-carousel/owl.theme.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/responsive.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/blog.css">

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/color.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="font-awesome">
