<!-- Footer Section end -->
<footer id="footer" class="root-sec white root-sec footer-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="clearfix footer-inner">
          <ul class="left social-icons">
            {% for item in include.social %}
            <li><a href="{{ item.url }}" class="tooltips tooltipped {{ item.title }}" data-position="top" data-delay="50" data-tooltip="{{ item.title }}"><i class="fa fa-{{ item.title }}"></i></a>
            </li>
            {% endfor %}
          </ul> <!-- ./social icons end -->
          <div class="right copyright">
            <p>Ishwar Agarwal &copy; All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ./container end-->
</footer>
<!-- #footer end -->
