<!-- Funfacts Section end -->
<section id="funfacts" class="root-sec brand-bg funfact-wrap">
<div class="sec-inner padd-tb-120">
  <div class="container">
    <div class="row">
      <div class="clearfix section-head portfolio-text">

      <div class="col-sm-12">
        <h2 class="title">FUN FACTS</h2>
        <p>
          What I like to do.
        </p>
      </div>
      </div>
      {% for funFact in include.funFacts %}
      <div class="funfact-inner">
        <div class="col-sm-4 funfact-box">
          <div class="center-align card-panel white">
            <div class="feature-box-outer">
              <div class="funfact-box-inner">
                <div class="clearfix ">
                  <i class="material-icons">{{funFact.icon}}</i>
                  <!-- <span class="num countNumb">150</span> -->
                </div>
                <div class="context">{{funFact.title}}</div>
              </div>
            </div>
          </div>
        </div> <!-- ./single fun fact box -->
        {% endfor %}
      </div>
    </div>

  </div>  <!-- .container end -->
</div>
</section>
<!-- #funfacts Section end -->
