<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="{{site.baseurl}}/#" class="brand-logo">I A</a>
      <ul class="right hide-on-med-and-down">
        {% for item in include.nav %}
          {% assign current = nil %}
            {% if page.url contains item.url %}
              {% assign current = 'active'%}
            {% endif %}
        <li class="{{ current }}"><a href="{{site.baseurl}}/#{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
<ul class="side-nav" id="slide-out">

<!-- Mini Profile // only visible in Tab and Mobile -->
  <li class="mobile-profile">
   <div class="profile-inner">
      <div class="pp-container">
          <img src="{{site.baseurl}}/images/person.jpg" alt="">
      </div>
      <h3>Ishwar Agarwal</h3>
    </div>
  </li><!-- mini profile end-->

  {% for item in include.nav %}
  <li><a href="{{site.baseurl}}/#{{item.url}}"><i class="fa {{ item.icon }} fa-fw"></i>{{ item.title }}</a>
  </li>
  {% endfor %}
</ul>
