---
layout: blog
title: Internship 2016
---
{% for post in site.categories.internship-2016 %}
<article class="col-sm-4 single-card-box single-post">
  <div class="card">
    <div class="card-image">
      <div class="card-img-wrap">
        <div class="blog-post-thumb waves-effect waves-block waves-light
          {% if post.media == 'video' %} videoPost{% endif %}"
          >
          {% if post.media == 'image' %}
          <a href="{{ post.url | prepend: site.baseurl }}"><img class="activator" src="{{ post.media_source }}" alt="">
          {% endif %}
          {% if post.media == 'video' %}
          <iframe src="{{ post.media_source }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          {% endif %}
          </a>
        </div>
        <div class="post-body">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-title-link brand-text"><h2 class="post-title">{{ post.title }}</h2></a>
          <p class="post-content">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        </div>
      </div>
    </div>
    <div class="clearfix card-content">
      <a href="#" class="left js-favorite" title="Love this"><span class="numb">{{ post.date | date: "%b %-d, %Y" }}</span></a>
      <a href="{{ post.url | prepend: site.baseurl }}" class="brand-text right waves-effect">read more</a>
    </div>
  </div>
</article> <!--./single blog post-->
{% endfor %}
