---
layout: base
---
<!-- Banner start -->
<section id="banner" class="root-sec brand-bg padd-tb-73 blogpage-banner-wrap">
  <div class="container">
    <div class="row">
      <div class="clearfix blog-banner-text">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <h2 class="title">BLOG</h2>
          <p class="regular-text">Here are all my blogs.</p>
        </div>
      </div>
    </div>
  </div>
</section> <!--./Banner end-->

<!-- Blog Post Container-->
<section class="bottom-50 root-sec grey lighten-5 blogpage-posts-wrap">
  <div class="container">
    <div class="row">
      <div id="blog-posts" class="clearfix all-blog-post blog-inner without-sidebar">
        {{content}}
      </div>
    </div>
  </div><!--./container end-->
</section> <!-- ./Blog Post Container end-->
