---
layout: base
---
<!-- Banner start -->
 <section id="banner" class="root-sec brand-bg padd-tb-55 single-banner blogpage-banner-wrap">
   <div class="container">
     <div class="row">
       <div class="clearfix blog-banner-text blog-single-banner">
         <div class="col-md-12">
           <h2 class="title">{{ page.title }}</h2>
         </div>
       </div>
     </div>
   </div>
 </section> <!-- ./Banner end -->

  <!-- Portfolio Container-->
 <section id="all-posts" class="root-sec grey lighten-5 blogpage-posts-wrap">
   <div class="container">
     <div class="row">
       <div class="clearfix all-blog-post blog-inner with-sidebar">

       <!-- post container start-->
         <div class="col-sm-8">
           <article class="single-post-page">
             <div class="thumb-wrap">
               <img src="{% if page.media_source %}{{site.baseurl}}/images/portfolio/{{page.media_source}}{% endif %}" alt="">
             </div>
             <div class="single-post-content">{{content}}</div>
            {% include socialShare.html %}
           </article>
         </div> <!-- ./post container end-->

         <!-- Sidebar start-->
         <div class="col-sm-4">
           <div class="primary-sidebar">
             <aside class="single-widget">
               <h2 class="widget-title">RECENT POSTS</h2>
               <ul>
                 {% for post in site.posts limit:5 %}
                 <li>
                   <a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a>
                   <span>{{ post.date | date: "%b %-d, %Y" }}</span>
                 </li>
                 {% endfor %}
               </ul>
             </aside>
             <aside class="single-widget">
               <h2 class="widget-title">CATEGORIES</h2>
               <ul>
                 {% for category in site.data.blogCategories %}
                 <li><a href="{{site.baseurl}}/category/{{category.key}}">{{category.name}}</a>
                 </li>
                 {% endfor %}
               </ul>
             </aside>
           </div>
         </div> <!-- ./sidebar end-->
       </div>
     </div>
   </div> <!-- ./container end-->
 </section>  <!-- ./Portfolio Container end-->
